body {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  font-family: "PT Sans", "Arial", sans-serif;
}

h2,
.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
}
